@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Raleway:wght@200;400;700&display=swap');

@keyframes ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

@keyframes fader {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
}

body {
	background: #222;
	font-family: 'Averia Serif Libre', cursive, Arial;
	color: #eee;
	margin: 0;
}

a:link {
	color: #eee;
	text-decoration: none;
}

a:visited {
	color: #eee;
	text-decoration: none;
}

a:hover {
	color: #aaa;
}

a:active {
	color: #ccc;
	text-decoration: none;
}

#rippleBox {
	position: absolute;
	width: 180px;
	height: 180px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: #5c85ff;
	margin: auto;
}

#ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

#ripple div {
	position: absolute;
	border: 4px solid #5c85ff;
	opacity: 1;
	border-radius: 50%;
	animation: ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

#fader {
	animation: fader 4s infinite;
}

header {
	position: relative;
	width: 100%;
	height: 220px;
	background: #111;
	margin: auto;
}

#logo {
	position: absolute;
	height: 180px;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

#sticklyPrickly {
	position: absolute;
	width: 100%;
	height: 100%;
}

nav {
	position: sticky;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	background: #111;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	z-index: 99;
}

nav a {
	color: #5c85ff;
}

.yanzi {
	height: 50px;
	padding: 5px;
}

.menuBox {
	width: 180px;
	max-width: 20vw;
	height: 100%;
	display: flex;
	align-items: center;
	margin: auto;
}

.menuBox:hover {
	background: #191f32;
}

.menuText {
	width: 140px;
	max-width: 20vw;
	margin: auto;
}

#about {
	position: absolute;
	width: 40%;
	min-width: 400px;
	max-width: 800px;
	top: calc(30px + 30vh);
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
	z-index: 12;
}

#about p {
	font-size: 12pt;
	color: #bbb;
	text-align: left;
	line-height: 30px;
	padding: 15px;
}

.sm {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 0 40px;
}

.social {
	width: 28px;
	padding: 5px;
}

#gallery {
	position: absolute;
	width: 70vw;
	top: calc(60px + 30vh);
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 10vh;
	z-index: 10;
}

.galleryPage {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.galleryPage img {
	cursor: pointer;
	height: 100%;
	border: 1px solid transparent;
	box-shadow: 0 8px 24px -7px rgba(0, 0, 0, 0.75);
	transition: 1s;
}

.galleryPage img:hover {
	border: 1px solid #5c85ff;
	box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.65);
}

.pics {
	position: fixed;
	top: 0;
	bottom: 0;
	transition: all 1s ease-in-out;
	margin: auto;
}

#bigPic {
	width: auto;
	height: auto;
	max-width: 95%;
	max-height: 95%;
	left: 0;
	right: 0;
	box-shadow: 0 2px 20px #111;
	z-index: 120;
}

.leftRight {
	width: 10vh;
	height: 10vh;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 10vh;
	border: 1px solid transparent;
	color: #777;
	font-size: 6vh;
	line-height: 10vh;
	text-align: center;
	box-shadow: 0 2px 20px #111;
	transition: all 1s ease;
}

.leftRight:hover {
	border: 1px solid #0078ff;
	box-shadow: 0 0 35px -15px #0078ff, 0 0 35px -20px #0078ff inset;
}

#goLeft {
	left: 2vw;
	z-index: 122;
}

#goRight {
	right: 2vw;
	z-index: 123;
}

#picBack {
	width: 100%;
	height: 100%;
	background: rgba(20, 20, 20, 0.8);
	z-index: 110;
}

.flourish {
	margin: auto;
}

.decoration {
	position: relative;
	width: 263px;
	opacity: 0.5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}

#menuSelect,
#stopSc {
	display: none;
}

.showHide {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.galleryPage img,
#bigPic,
#goLeft,
#goRight,
#menuSelect {
	cursor: pointer;
}

@media (max-width:799px) {
	/* for PORTRAIT */
	header {
		display: none;
	}
	#menuSelect {
		display: flex;
		position: fixed;
		width: 100%;
		height: 50px;
		top: 0;
		background: #111;
		justify-content: space-around;
		z-index: 141;
	}
	#menuSelect div {
		width: 50px;
		height: 50px;
	}
	.yanziPort {
		height: 40px;
		padding: 5px;
		opacity: 0.2;
		z-index: 200;
	}
	.circle {
		position: fixed;
		width: 50px;
		top: 0;
		left: 0;
		right: 0;
		font-size: 40px;
		line-height: 45px;
		color: #5c85ff;
		text-align: center;
		transition: all 0.5s ease-in-out;
		margin: auto;
	}
	.spin {
		opacity: 0;
		transform: rotateY(90deg);
		z-index: 150;
	}
	nav {
		width: 100%;
		height: 140px;
		top: 50px;
		flex-direction: column;
		justify-content: space-between;
		transition: all 1.4s ease-in-out;
		transform-origin: top;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #111;
		font-size: 16px;
		line-height: 20px;
		z-index: 123;
	}
	.outFrame {
		transform: rotateX(90deg);
		opacity: 0;
	}
	.inFrame {
		transform: rotateX(0deg);
		opacity: 1;
	}
	.menuBox {
		width: 100%;
		max-width: 100%;
		height: 35px;
		margin: auto;
	}
	.menuText {
		height: 35px;
		max-width: 100%;
		margin: auto;
	}
	#about {
		width: 95%;
		min-width: auto;
		top: 80px;
		margin: auto;
		transition: all 1s ease-in-out;
	}
	#about p {
		font-size: 15px;
		text-align: center;
		line-height: 20px;
	}
	#gallery {
		position: absolute;
		width: 100%;
		top: 80px;
		margin-bottom: 10vh;
		transition: all 1s ease-in-out;
		z-index: 10;
	}
	.moveGal {
		padding-top: 180px;
	}
	.galleryPage {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: flex-start;
		margin: auto;
	}
	.galleryPage img {
		width: 86vw;
		height: auto;
		padding-bottom: 2vh;
		box-shadow: none;
		margin: auto;
	}
	#stopSc {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
	}
	.sideObject,
	.showHide {
		display: none;
	}
}

