	@import url('//fonts.googleapis.com/css?family=Raleway:400,500');
	@import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,500');

	body		{	background:#555566; font-family:'Arial','Verdana','Helvetica'; font-size:14pt; line-height:21pt; color:#222; margin:0;	}

	a:link		{	text-decoration:none;	}
	a:visited	{	text-decoration:none;	}
	a:hover		{	color:#fff;}
	a:active	{	color:#eee; text-decoration:none;	}

	h1,h2		{	font-family:'Raleway','Arial'; margin:0;	}

	header		{	width:800px; max-width:100%; background:#555577; line-height:5em; color:#fff; text-align:center; margin:auto;	}

	header div	{	border-left:15px solid#666677; border-right:15px solid#666677; padding:50px;	}

	header img	{	width:200px; margin:auto;	}

	main		{	width:800px; max-width:100%; margin:auto;	}

	article		{	margin:auto;	}

	article div					{	padding:50px;	}
	article div:nth-child(odd)	{	background:#ddd;	}
	article div:nth-child(even)	{	background:#eee;	}
	article div:nth-child(1)	{	border-left:15px solid#f69679; border-right:15px solid#f69679;	}
	article div:nth-child(2)	{	border-left:15px solid#bd8cbf; border-right:15px solid#bd8cbf;	}
	article div:nth-child(3)	{	border-left:15px solid#82ca9c; border-right:15px solid#82ca9c;	}
	article div:nth-child(4)	{	border-left:15px solid#f49ac1; border-right:15px solid#f49ac1;	}
	article div:nth-child(5)	{	border-left:15px solid#7da7d9; border-right:15px solid#7da7d9;	}
	article div:nth-child(6)	{	border-left:15px solid#fffabf; border-right:15px solid#fffabf; padding-bottom:200px;	}

	tr:nth-child(odd)	{	background:#cfcfcf;	}
	tr:nth-child(even)	{	background:#b9c9b9;	}

	th,td		{	width:50%; padding:15px; vertical-align:top; font-weight:normal;	}

	.bigword	{	font-family:'Libre Baskerville','Arial'; font-size:1.2em; line-height:1.5em;	}

	@media screen and (max-width:799px)	{

	body					{	font-size:12pt; line-height:18pt;	}

	header,main,article		{	width:100%; padding:0; margin:0;	}

	div						{	border:0;	}

	header div				{	border-left:10px solid #666677; border-right:10px solid #666677;	}

	article div:nth-child(1){	border-left:10px solid #f69679; border-right:10px solid #f69679;	}
	article div:nth-child(2){	border-left:10px solid #bd8cbf; border-right:10px solid #bd8cbf;	}
	article div:nth-child(3){	border-left:10px solid #82ca9c; border-right:10px solid #82ca9c;	}
	article div:nth-child(4){	border-left:10px solid #f49ac1; border-right:10px solid #f49ac1;	}
	article div:nth-child(5){	border-left:10px solid #7da7d9; border-right:10px solid #7da7d9;	}
	article div:nth-child(6){	border-left:10px solid #fffabf; border-right:10px solid #fffabf; padding-bottom:200px;	}

	}
